@using TechnoStore.WebUI.Models
@model TechnicsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var product in @Model.Technics)
{
    @Html.Partial("TechnicsSummary", product)
}

@section CartButton{
    <div style="margin-top:30px; margin-left:150px">
        @Html.ActionLink("Go to cart", "AddtoCart", "Cart",
        new { returnUrl = Request.Url.PathAndQuery, technicsId = 0 },
        new { @class = "btn btn-success btn-lg" })
    </div>
}





