
@{
    ViewBag.Title = "The end of registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your registration completed successfully!</h2>
<h3>Now you can use you email and password to log in. </h3>

