
@{
    ViewBag.Title = "Your order was processed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you!</h2>
<p>Thank you for choosing out store. As soon  as possible your order will be sent to the delievery service!</p>

