@model TechnoStore.Common.DTO.OrderDetailsDTO

@{
    ViewBag.Title = "TechnoStore: order form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-left:15px">
        <h2>Make order now</h2>
        <p>Please, enter your shipping address, and we will send your order immidiately!</p>

        @{Html.EnableClientValidation();}
        @{Html.EnableUnobtrusiveJavaScript();}
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h3>Shipping address:</h3>
            foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })

                        @Html.ValidationMessage(property.PropertyName, new { @class = "text-danger" })
                    </div>
                }
            }

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Confirm the order" />
            </div>
        }

    </div>

