@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title></title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <form class="form-inline">
            @Html.ActionLink("TechnoStore - technological stuff store", "List", "Technics", null, new { @class = "navbar-brand navbar-link" })
            @Html.ActionLink("SignIn", "Login", "Account", null, new { @class = "navbar-brand navbar-link pull-right" })
        </form>
    </div>
    
    <div class="center">
        @RenderBody()
    </div>
</body>
</html>
