
@{
    ViewBag.Title = "Confirm email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for confirming your email!</h2>
<h3>Your registration completed successfully!</h3>
<p>Please @Html.ActionLink("Click here to log in","Login","Account") </p>

