
@{
    ViewBag.Title = "Success Registration";
    Layout= "~/Views/Shared/_Layout.cshtml";
}

<h2>Your registration completed successfilly!</h2>
<p>Now you can use your email and password to log in.</p>

