
@{
    ViewBag.Title = "UserErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="alert alert-danger text-danger">Ooops, something went wrong! Keep calm, everything will be okay!</div>

